@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --background: black;
  --foreground: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

body {
  color: white;
  background: var(--background);
  font-family: 'Avenir LT Std'
}

/* .slick-slide > div {
  height: 790px;
}

.slick-slide img {
  height: 790px;
  width: 100%;
  object-fit: cover;
} */